# ─── Base de Dados (PostgreSQL) ───────────────────────────────
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=a_tua_senha
DB_NAME=baza_db

# ─── App ──────────────────────────────────────────────────────
NODE_ENV=development
PORT=3000
JWT_SECRET=coloca_aqui_o_teu_secret

# ─── Firebase ─────────────────────────────────────────────────
FIREBASE_PROJECT_ID=baza-application-4e83f
FIREBASE_PRIVATE_KEY=...
FIREBASE_CLIENT_EMAIL=...

# ─── Google Maps ──────────────────────────────────────────────
GOOGLE_MAPS_API_KEY=...

# ─── SMS ──────────────────────────────────────────────────────
HTTPSMS_API_KEY=...
