DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=bazza_db
JWT_SECRET=sua_chave_secreta_super_longa_aqui_123456789
JWT_EXPIRATION=24h
PORT=3000
DB_SYNCHRONIZE=true
NODE_ENV=development

# TextBee SMS Gateway (https://textbee.dev)
TEXTBEE_API_KEY=b413fc3f-8429-43be-ae3f-bdb16659121f
TEXTBEE_DEVICE_ID=6a1711005ccc2dc46e154349
